<!DOCTYPE html>
<html>
<head>
    <title>Why Spanish? - Español de Hoy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
    <a href="/">Home</a>
    <a href="/why-spanish">Why Spanish?</a>
    <a href="/quiz">Quiz</a>

</div>
    <div class="card">
        <h1>Why Spanish?</h1>
        <p> I think Spanish is one of the most fascinating languages in the world. Its structure, phonetics, and expressions are really unique.
             Also, it is spoken by around 600 million people globally, which means learning it opens up so many opportunities to connect with people from different countries.
              Plus, it is not just about memorizing grammar, but also a way to learn an incredible culture, music, and traditions. </p>
    </div>
</body>
</html>